{% extends 'base.html' %}


{% block slider %}
<!-- img/slider slider -->
            <div id="img/slider-slider">
               <div id="image-slider" class="owl-carousel owl-theme">
                 <div class="item">
                   <img src="/static/bootstrap/img/slider/large-slider1.jpg" alt="">
                 </div>
                 <div class="item">
                   <img src="/static/bootstrap/img/slider/large-slider2.jpg" alt="">
                 </div>
               </div>
           </div>
{% endblock %}

{% block news %}
<h2>Новости</h2>
<ul class="list-style pl-0" id="id_news_list">
{% for item in items %}
<li id="id_item_news">
  <i class="fa fa-anchor grey" aria-hidden="true"></i><a href="{% url 'news_view' item.id %}">{{ item.text}}</a>
</li>
{% endfor %}
</ul>
<a href="{% url 'news_view' '' %}">Все новости</a>
{% endblock %}