{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block content %}
<div class="row">
    <h2>Мероприятия</h2>
    <div class="mb-60"></div>
</div>
<div class="row">
    {%  for event in list_events %}
 <div class="blog-block post-content-area" id="id_item_events" >
     {% thumbnail event.image "795x300" crop="center" as im %}
        <img src="{{ im.url }}" height="300px" width="795px">
     {% empty %}
     <img src="{% static 'img/empty_events.png' %}" alt="">
     {% endthumbnail %}
     <div class="blog-post">
         {% autoescape off %}
         <h3><a href="{{ event.slug }}">{{ event.title }}</a></h3>
         <p>{{ event.introtext }}</p>
         <a href="{{ event.slug }}" class="btn btn-common">Читать</a>
         {% endautoescape %}
     </div>
 </div>
<div class="mb-60"></div>
    {% endfor %}
</div>
{% endblock content %}