{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% load event_arhives %}
{% block content %}
<div class="row">
    <h2>Мероприятия</h2>
    <div class="mb-60"></div>
</div>
<div class="row">
    {%  for event in list_events %}
 <div class="blog-block post-content-area" id="id_item_events" >
     {% thumbnail event.image "795x300" crop="center" as im %}
        <img src="{{ im.url }}" height="300px" width="795px">
     {% empty %}
     <img src="{% static 'img/empty_events.png' %}" alt="">
     {% endthumbnail %}
     <div class="blog-post">
         {% autoescape off %}
         <h3><a href="{{ event.slug }}">{{ event.title }}</a></h3>
         <p>{{ event.introtext }}</p>
         <a href="{{ event.slug }}" class="btn btn-common">Читать</a>
         {% endautoescape %}
     </div>
 </div>
<div class="mb-60"></div>
    {% endfor %}
</div>

{% if paginator.num_pages > 1 %}
<div class="col-md12">
<ul class="pagination justify-content-center">
{% if page_obj.has_previous %}
  <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}"> Предыдущая </a></li>
{% else %}
  <li class="page-item">Предыдущая </li>
{% endif %}

{% for num in paginator.page_range %}
{% if num == page_obj.number %}
  <li class="page-item">{{ num }}</li>
{% else %}
  <li class="page-item"><a href="?page={{ num }}"> {{ num }} </a></li>
{% endif %}
{% endfor %}
{% if page_obj.has_next %}
  <li class="page-item"><a href="?page={{ page_obj.next_page_number }}"> Следующая</a></li>
{% else %}
  <li class="page-item"> Следующая</li>
{% endif %}
</ul>
</div>
{% endif %}
{% endblock content %}

{% block widget_top %}
<div class="blog-block about-sidebar-widget">
    <h4>Архив мероприятий</h4>
    <ul>
    <li><a href="/events/2019/03">Март 2019</a> (1)</li>
    <li><a href="/events/2018/10">Октябрь 2018</a> (1)</li>
    <li><a href="/events/2018/03">Март 2018</a> (1)</li>
    <li><a href="/events/2017/08">Август 2017</a> (1)</li>
    <li><a href="/events/2017/03">Март 2017</a> (1)</li>
    <li><a href="/events/2017/01">Январь 2017</a> (1)</li>
    <li><a href="/events/2016/12">Декабрь 2016</a> (1)</li>
    <li><a href="/events/2016/04">Апрель 2016</a> (1)</li>
    <li><a href="/events/2016/03">Март 2016</a> (2)</li>
    <li><a href="/events/2016/01">Январь 2016</a> (1)</li>
    <li><a href="/events/2015/09">Сентябрь 2015</a> (1)</li>
    <li><a href="/events/2015/04">Апрель 2015</a> (1)</li>
    </ul>
</div>
<div class="mb-60"></div>
{% endblock widget_top %}