{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block content %}
<h2>Статьи</h2>
<div class="row" id="page_content">
{% for article in list_articles %}
    <div class="col-md-4" id="id_item_article">
            <div class="card-2">
              <div class="image">
                {% thumbnail article.image "233x233" crop="center" as im %}
                   <img src="{{ im.url }}">
                {% empty %}
                  <img src="{% static 'img/empty_articles.png' %}">
                {% endthumbnail %}
              </div>
              <div class="card-block">
                <h3 class="card-title">{{ article.title }}</h3>
                <div class="meta">
                  <i class="fa fa-user-o"></i>&nbsp;<a href="#">{{ article.author }}</a>
                </div>
                <div class="description">
                  {% autoescape off %}
                  {{ article.description }}
                  {% endautoescape %}
                </div>
              </div>
              <div class="extra">
                <span class="right">
                  <a href="{{ article.slug }}">Читать</a>
                </span>
                <span>
                  <i class="fa fa-eye"></i>
                  {% if article.hits %}
                  {{ article.hits }}
                  {% else %}
                    0
                  {% endif %}
                </span>
              </div>
            </div>
          </div>
<!--<p>{{ article.description }}</p>-->
<!--{{ article.image }}-->
<!--<a href="{% url 'articles_view' %}{{ article.url }}">Читать далее</a>-->
{% endfor %}
</div>
{% endblock content %}