{% extends 'base.html' %}
{% block content %}
    <h3 class="title-head text-center">{{ article }}</h3>
    <div class="row">
        <div class="col-md-4">
            Автор: {{ article.author }}
        </div>
        <div class="col-md-4" id="date_item_article">
            Опубликовано: {{ article.published }}
        </div>
        <div class="col-md-4" id="date_item_article">
            Просмотров: {{ hitcount.total_hits }}
        </div>
        <div class="mb-60"></div>

    </div>
    <div class="row">
        <div class="col-md-12" id="item_article">
            {% autoescape off %}
            {{ article.content }}
            {% endautoescape %}
        </div>
    </div>

{% endblock content %}