[Unit]
Description=Gunicorn server for SITENAME
Requires=gunicorn.SITENAME.socket
After=network.target


[Service]
User=deploy
Group=nginx
Restart=on-failure
WorkingDirectory=/home/deploy/sites/SITENAME/source
ExecStart=/home/deploy/sites/SITENAME/virtualenv/bin/gunicorn \
    --bind unix:/run/gunicorn.SITENAME.sock \
    --access-logfile ../access.log \
    --error-logfile ../error.log \
    kiteup.wsgi:application

[Install]
WantedBy=multi-user.target
