{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2>Новости</h2>
<div class="row">
{% for item in items %}
 <!-- Start card -->
<div class="col-sm-6 col-md-4">
  <div class="card" id="id_item_news">
    {% if item.image %}
    <img class="card-img-top" src="{{ item.image.url }}" alt="">
    {% else %}
    <img class="card-img-top" src="{% static 'img/empty.jpg' %}" alt="">
    {% endif %}
    <div class="card-block text-center">
      <h3 class="card-title">{{ item.title }}</h3>
      {% autoescape off %}
      <p class="card-text">{{ item.description }}</p>
      {% endautoescape %}
      <a href="{% url 'news_view' item.id %}">Читать</a>
    </div>
  </div>
</div>
<!-- End card -->
{% endfor %}
</div>
<div class="col-md12">
<ul class="pagination justify-content-center">
{% if items.has_previous %}
  <li class="page-item"><a href="?page={{ items.previous_page_number }}"> Предыдущая </a></li>
{% else %}
  <li class="page-item">Предыдущая </li>
{% endif %}
{% for num in items.paginator.page_range %}
{% if num == items.number %}
  <li class="page-item">{{ num }}</li>
{% else %}
  <li class="page-item"><a href="?page={{ num }}"> {{ num }} </a></li>
{% endif %}
{% endfor %}
{% if items.has_next %}
  <li class="page-item"><a href="?page={{ items.next_page_number }}"> Следующая</a></li>
{% else %}
  <li class="page-item"> Следующая</li>
{% endif %}
</ul>
</div>
{% endblock %}