{% extends 'base.html' %}
{% block content %}
    <h2>Новости</h2>
    <ul class="list-style pl-0" id="id_news_list">
        {% for item in items %}
        <li id="id_item_news">
            <i class="fa fa-anchor grey" aria-hidden="true"></i><a href="{% url 'news_view' item.id %}">{{ item.title_news }}</a>
        </li>
        {% endfor %}
    </ul>
    <div class="col-md12">
    <ul class="pagination justify-content-center">
         {% if items.has_previous %}
            <li class="page-item"><a href="?page={{ items.previous_page_number }}"> Предыдущая </a></li>
         {% else %}
            <li class="page-item">Предыдущая </li>
         {% endif %}
         {% for num in items.paginator.page_range %}
            {% if num == items.number %}
                <li class="page-item"><a href="?page={{ num }}"><b> {{ num }} </b></a></li>
            {% else %}
                <li class="page-item"><a href="?page={{ num }}"> {{ num }} </a></li>
            {% endif %}
         {% endfor %}
        {% if items.has_next %}
            <li class="page-item"><a href="?page={{ items.next_page_number }}"> Следующая</a></li>
            {% else %}
        <li class="page-item"> Следующая</li>
{% endif %}

    </ul>
    </div>

{% endblock %}