{% extends 'base.html' %}
{% block content %}
    <h2>Новости</h2>
    <ul class="list-style pl-0" id="id_news_list">
        {% for item in items %}
        <li id="id_item_news">
            <i class="fa fa-anchor grey" aria-hidden="true"></i><a href="{% url 'news_view' item.id %}">{{ item.title_news }}</a>
        </li>
        {% endfor %}
    </ul>
    <div class="row">
        <div class="col-sm-4">
            {% if items.has_previous %}
            <a href="?page={{ items.previous_page_number }}"> << Назад </a>
            {% else %}
            <p>&nbsp;&nbsp;Начало</p>
            {% endif %}
        </div>
        <div class="col-sm-4">
            <div class="text-center">
            {% for num in items.paginator.page_range %}
            {% if num == items.number %}
                <span class="current"><b> {{ num }} </b></span>
            {% else %}
                <a href="?page={{ num }}"> {{ num }} </a>
            {% endif %}
            {% endfor %}
            </div>
        </div>
        <div class="col-sm-4 ">
            <div class="text-right">
            {% if items.has_next %}
            <a href="?page={{ items.next_page_number }}"> Далее >></a>
            {% else %}
            <p>Окончание</p>
            {% endif %}
        </div>
        </div>
</div>

{% endblock %}